body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(1, 38, 63);
    color: #90f2ff8c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.wrapper {
    width: 500px;
    background: rgb(1, 33, 55);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: start;
    
    padding: 1rem;
    border-radius: 10px;
}

. {
    width: 500px;
    background: rgb(1, 33, 55);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem;
    border-radius: 10px;
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.wrapper,
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}

input {
    width: 333px;
    text-align: center;
}

label {
    cursor: default;
    text-align: left;
}

input,
button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    background: rgba(34, 74, 107, 0.774);
    color: #90f2ff8c;
    display: flex;
    border: 1px solid #90f2ff59;
    border-radius: 5px;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #90f2ff59;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #90f2ff59;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #90f2ff59;
  }

input:hover {
    background: rgba(1, 33, 55, 0.472);
    color: #90f2ff8c;
}

button:hover {
    
    background: rgb(1, 33, 55);
    color: #90f2ff8c;
}

.footer-buttons,
button:hover {
    background: rgb(1, 33, 55);
    color: #90f2ff;
}

img {
    justify-content: center;
    height: 30px;
    width: auto;
}

h1 {
    font-weight: 100;
    font-size: 1rem;
}

h2 {
    font-weight: 100;
    font-size: 0.5rem;
}

#kryptokrona_logo{
    width: 75px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}